dagit==1.8.6
dagster==1.8.6
dagster-duckdb==0.24.6
dagster-duckdb-polars==0.24.6
dagster-graphql==1.8.6
dagster-pipes==1.8.6
dagster-webserver==1.8.6
duckdb==1.1.0
fastexcel==0.11.6
numpy==2.0.2
polars==1.6.0
pyarrow==17.0.0
pydantic==2.8.2
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.66.5
XlsxWriter==3.2.0